block variables
  - var title = "New Talk"

extends ../layout

block content
  form(method = "Post", url="/talks")
    fieldset
      legend New talk
      p
        label(for="talk[name]") name
        input(type="text", name="talk[name]")
      p
        label(for="talk[url]") URL
        input(type="text", name="talk[url]")
      p.buttons
        input(type="submit", value="Save")
