extends layout

block content
    h1= 'Welcome to this chatroom'

    form#userForm
        input#username(type='text')
        a#submitName(href='#') Enter room

    div#chatContainer(style='display: none')
        p Chat contents
