extends layout

block content
  h1= 'Welcome to this chatroom'

  div(ng-controller='ChatCtrl')
    form#registerForm
      input#username(type='text', ng-model='username')
      a(href='#', ng-click='register()') Enter room

    div#pdfViewer(style='display: none')
      if (isSpeaker)
        button(ng-click='previousPage()') Previous
        button(ng-click='nextPage()') Next
      span Page: {{pageNum}} / {{numPages}}
      canvas#the-canvas(style='border:1px solid black')
    div#chatContainer(style='display: none')
      div
      textarea(rows=10, cols=80, ng-model='message', ui-keypress="{enter: 'sendMessage()'}")
